# Uvod v Pandas - DN

In [1]:
import numpy as np
import pandas as pd

<div class="alert alert-block alert-info">
<b>Naloga: </b> Združi podana Series v en Dataframe. </div>

In [5]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [24]:
df = pd.concat([ser1, ser2], axis=1)
df.columns = ['ser1', 'ser2']
df

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite vse elemente, ki se nahajajo v ser1 in ne nahajajo v ser2</div>

In [27]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [29]:
ser1.values

array([1, 2, 3, 4, 5])

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite kako pogosto se katera vrednost pojavi v ser.</div>

In [33]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [3]:
#Rešitev

<div class="alert alert-block alert-info">
<b>Naloga: </b>V podanem series obdržite top 2 vrednosti, ki se največkrat pojavita. Ostale vrednosti nadomestite z "other"</div>

In [35]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [4]:
#Rešitev

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite vrednosti v vrstici z indexom 0, 4, 8, 14, 20.</div>

In [37]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [5]:
#Rešitev

<div class="alert alert-block alert-info">
<b>Naloga: </b>Prikažite obliko dataframa.</div>

In [44]:
path = 'data/DATA_vozila_marec_clean1.csv'
df = pd.read_csv(path, sep=';')

In [6]:
#Rešitev

<div class="alert alert-block alert-info">
<b>Naloga: </b>Prikažite tipe spremenljivk za vsak stolpec uvoženega dataframe.</div>

In [7]:
# Rešitev

<div class="alert alert-block alert-info">
<b>Naloga: </b>Prikažite informacije (velikost df, podatkovni tipi, pomnilnik...) uvoženega dataframe-a z uporabo ene metode</div>

In [8]:
# Rešitev

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite prvih 7 vrstic dataframa</div>

In [9]:
#Rešitev

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite zadnjih 6 vrstic dataframa.</div>

In [10]:
#Rešitev